@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimBareondotumB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBareondotumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
}

body {
    overflow-x: hidden;
    width: 100%;
}

header {
    z-index: 9999;
    position: fixed;
    height: 6rem;
    width: 100%;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px black;
}

#logo {
    height: 4rem;
    margin: 19px;
    cursor: pointer;
    transition: all 300ms;
}

#logo:hover {
    scale: 1.05;
    box-shadow: 1px 1px 10px black;
}

#titles {
    font-family: 'DOSMyungjo';
    font-style: italic;
    display: flex;
    align-items: baseline;
    text-shadow: 2px 2px 5px #6e6e6e;
    user-select: none;
}

#title {
    font-size: 4.8rem;
    color: #50b9ff;
}

#titles p {
    font-size: 1.3rem;
    color: #696969;
}

#dev-btn {
    font-family: 'EliceDigitalBaeum-Bd';
    margin: 10px;
    padding: 0.2em 0.5em 0.3em;
    font-size: 1.4em;
    border-radius: 10px;
    border: solid 3px;
    cursor: pointer;
    transition: all 300ms;
    color: #a9a9a9;
    user-select: none;
}

#dev-btn:hover {
    scale: 1.03;
    background-color: #a9a9a9;
    color: #fff;
    border-color: #a9a9a9;
}

#contents {
    /* padding: calc(6rem + 10px) 10px 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#blank {
    width: 100%;
    height: 6rem;
}

#banner {
    display: flex;
    padding-top: 20px;
    width: calc(100% - 80px);
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.banner-btn {
    z-index: 999;
    position: absolute;
    /* display: flex; */
    /* top: 50%; */
    /* justify-content: space-between;
    align-items: center; */
    top: calc(12.5rem + 10px)
}

.banner-btn {
    /* margin: 0 5em; */
    cursor: pointer;
    transition: 300ms all;
}

.banner-btn.right {
    right: 60px;
}

.banner-btn.left {
    left: 60px;
}

.banner-btn:hover {
    scale: 1.2;
}

#banners {
    display: flex;
    width: 100%;
}

.banner {
    min-width: 100%;
    height: 13rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
}

#interview {
    margin-top: 30px;
}

.interview {
    background-color: #d6d6d6;
    padding: 0.2em 0.5em 0.3em;
    border-radius: 10px;
    margin: 0.5em;
}

.int-text {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.1em 0 0.2em;
}

.int-name {
    text-align: end;
    padding: 0.1em 0 0.2em;
}

#app-banner {
    background-color: #1459c1;
    color: #bebebe;
    /* transition: all 300ms; */
    cursor: pointer;
}

#app-banner h1 {
    transition: all 300ms;
}

#banner:hover #app-banner h1{
    color: white;
    scale: 1.1;
}

#helloworld {
    background-color: blue;
}

#app {
    margin: 20px 60px;
    padding: 10px 30px;
    background-color: #e9eef0;
}

#app-title {
    font-size: 2.7rem;
    text-align: center;
    font-family: 'HakgyoansimBareondotumB';
    margin-bottom: 0.5rem;
}

.app-ol {
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
}

.app-titles {
    display: flex;
    align-items: baseline;
}

.app-no {
    font-size: 1.5rem;
    color: #696969;
}

.app-text {
    font-size: 1.9rem;
}

.app-ul {
    margin: 0.4rem 0;
    font-size: 1.2rem;
}

a {
    text-decoration-line: none;
    color: #50b9ff;
    transition: color 300ms;
    cursor: pointer;
}

#faq {
    min-width: 50vw;
    margin: 20px 60px;
    padding: 10px 20px;
}

#add-faq-btn {
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
    padding: 0.1em 0 0.2em;
    font-family: 'EliceDigitalBaeum-Bd';
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    color: #a9a9a9;
    transition: all 300ms;
}

#add-faq-btn:hover {
    color: white;
    background-color: #a9a9a9;
}

#add-faq {
    display: none;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms;
}

#faq-cancel {
    background-color: #ff5252;
    padding: 0.1em 0.5em 0.2em;
    border-radius: 5px;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'EliceDigitalBaeum-Bd';
    transition: all 300ms;
}

#faq-cancel:hover {
    background-color: #b33838;
}

#faq-input {
    width: 100%;
    padding: 0.2em 0.3em 0.1em;
    text-align: end;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 1rem;
}

#faq-submit {
    background-color: #2ecc71;
    padding: 0.1em 0.5em 0.2em;
    border-radius: 5px;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'EliceDigitalBaeum-Bd';
    transition: all 300ms;
}

#faq-submit:hover {
    background-color: #219a53;
}

.faq-container {
    margin: 0 auto;
}
  
.faq {
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 10px 0;
    padding: 11px 12px 9px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
  
.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
  
.faq.active::before, .faq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}
  
  .faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
  }
  
  .faq-title {
    margin: 0 35px 0 0;
  }
  
  .faq-text {
    display: none;
    margin: 30px 0 0;
    padding: 3px 5px 2px;
    border-radius: 3px;
    background-color: #dcdcdc80;
  }
  
  .faq.active .faq-text {
    display: block;
  }
  
.faq-toggle {
    background-color: #ababab;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 20px;
    height: 20px;
    width: 20px;
    translate: 0 -50%;
  }
  
  .faq-toggle:focus {
    outline: 0;
  }
  
  .faq-toggle .fa-times {
    display: none;
  }
  
  .faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
  }
  
  .faq.active .faq-toggle .fa-chevron-down {
    display: none;
  }
  
  .faq.active .faq-toggle {
    background-color: #9fa4a8;
  }

a:hover {
    color: #2a6e9b;
}

footer {
    background-color: #808080;
    color: #d1d1d1;
    box-shadow: 0 5px 5px inset #5c5c5c;
    padding: 1em;
}

#info {
    display: flex;
    align-items: center;
}

#footer-title {
    font-family: 'EliceDigitalBaeum_Bold';
    font-weight: 700;
    font-size: 3rem;
    margin: 0.2em 0.3em 0.3em;
}

#contact {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



/* 기존 CSS */

/* 모바일 감지 */
@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    header {
        height: 4rem;
    }

    #logo {
        height: 3rem;
        margin: 15px;
    }

    #titles {
        font-size: 2rem;
    }

    #title {
        font-size: 3.2rem;
    }

    #titles p {
        font-size: 1rem;
    }

    #dev-btn {
        font-size: 0.8em;
        margin: 8px;
        padding: 0.2em 0.4em 0.3em;
    }

    #contents {
        padding-top: 4rem;
    }

    #blank {
        height: 0.5rem;
    }

    #banner {
        padding-top: 10px;
        width: calc(100% - 40px);
    }

    #banner-btns {
        height: 8rem;
    }

    .banner-btn {
        margin: 0 2em;
    }

    .banner {
        height: 8rem;
    }

    #app {
        margin: 10px 30px;
        padding: 5px 15px;
    }

    #app-title {
        font-size: 1.6rem;
        margin-bottom: 0.3rem;
    }

    .app-no {
        font-size: 1.2rem;
    }

    .app-text {
        font-size: 1.3rem;
    }

    .app-ul {
        font-size: 0.9rem;
    }

    footer {
        padding: 0.5em;
    }
}
