* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px #808080;
}
.logo a {
    font-size: 32px;
    color: #3498db;
    text-decoration: none;
    font-size: 1.5em;
}
.search {
    display: flex;
    align-items: center;
    border: solid;
    border-color: #3498db;
    border-radius: 4px;
}
input[type="text"] {
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
button[type="submit"] {
    padding: 8px 16px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
  
  .filters select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
    cursor: pointer;
  }  
#contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 0 100px;
    background-clip: border-box;
    grid-template-columns: 1fr;
}
.row {
    display: flex;
    width: 100%;
}
li {
    width: 20%;
    list-style: none;
    display: grid;
    place-items: center;
}
#contents button {
    height: 250px;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    border-radius: 10px;
    border: solid;
    border-color: #3498db;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
#contents button:hover {
    background-color: #fff;
    color: #3498db;
}
#contents img {
    width: 99%;
    border: solid;
    border-radius: 10px;
    border-color: #3498db;
}