@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimBareondotumB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBareondotumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
}

body {
    overflow-x: hidden;
    width: 100%;
}

header {
    z-index: 9999;
    position: fixed;
    height: 6rem;
    width: 100%;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px black;
}

#logo {
    height: 4rem;
    margin: 19px;
    cursor: pointer;
    transition: all 300ms;
}

#logo:hover {
    scale: 1.05;
    box-shadow: 1px 1px 10px black;
}

#titles {
    font-family: 'DOSMyungjo';
    font-style: italic;
    display: flex;
    align-items: baseline;
    text-shadow: 2px 2px 5px #6e6e6e;
    user-select: none;
}

#title {
    font-size: 4.8rem;
    color: #50b9ff;
}

#titles p {
    font-size: 1.3rem;
    color: #696969;
}

#dev-btn {
    font-family: 'EliceDigitalBaeum-Bd';
    margin: 10px;
    padding: 0.2em 0.5em 0.3em;
    font-size: 1.4em;
    border-radius: 10px;
    border: solid 3px;
    cursor: pointer;
    transition: all 300ms;
    color: #a9a9a9;
    user-select: none;
}

#dev-btn:hover {
    scale: 1.03;
    background-color: #a9a9a9;
    color: #fff;
    border-color: #a9a9a9;
}

#contents {
    /* padding: calc(6rem + 10px) 10px 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#blank {
    width: 100%;
    height: 6rem;
}

#banner {
    display: flex;
    padding-top: 20px;
    width: calc(100% - 80px);
    flex-direction: column;
    align-items: center;
    user-select: none;
}

#banner-btns {
    z-index: 999;
    position: absolute;
    display: flex;
    width: 100%;
    height: 13rem;
    justify-content: space-between;
    align-items: center;
}

.banner-btn {
    margin: 0 5em;
    cursor: pointer;
    transition: 300ms all;
}

.banner-btn:hover {
    scale: 1.2;
}

#banners {
    display: flex;
    width: 100%;
}

.banner {
    min-width: 100%;
    height: 13rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
}

#minhub {
    background-color: red;
}

#helloworld {
    background-color: blue;
}

#gay {
    background-color: yellow;
}

#app {
    margin: 20px 60px;
    padding: 10px 30px;
    background-color: #e9eef0;
}

#app-title {
    font-size: 2.7rem;
    text-align: center;
    font-family: 'HakgyoansimBareondotumB';
    margin-bottom: 0.5rem;
}

.app-ol {
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
}

.app-titles {
    display: flex;
    align-items: baseline;
}

.app-no {
    font-size: 1.5rem;
    color: #696969;
}

.app-text {
    font-size: 1.9rem;
}

.app-ul {
    margin: 0.4rem 0;
    font-size: 1.2rem;
}

a {
    text-decoration-line: none;
    color: #50b9ff;
    transition: color 300ms;
    cursor: pointer;
}

a:hover {
    color: #2a6e9b;
}

footer {
    background-color: #808080;
    color: #fff;
    box-shadow: 0 5px 5px inset #5c5c5c;
    padding: 1em;
}