* {
    margin: 0;
    overflow: hidden;
}
canvas {
    background: #1d1d25;
    position: relative;
    display: table-cell;
}
input {
    display: table-cell;
    position: relative;
    width: 100px;
}