body[data-thema='light-mode'] {
    --wall-color : black;
}

body[data-thema='dark-mode'] {
    --wall-color : #c3c3c3;
}

.objects_low {
    display: flex;
}

.object {
    height: calc(50vh / 25);
    width: calc(50vh / 25);
    font-size: calc(50vh / 25);
    text-align: center;
    /* font-size: 2.5em; */
}

.blank {
    color: gray;
}

.wall {
    color: var(--wall-color);
}

.able-goal {
    color: green;
}

.disable-goal {
    color: gray;
}

.trap {
    color: red;
}

.button {
    color: red;
}

.blue-potal {
    color: blue;
}

.orange-potal {
    color: orange;
}

.coin {
    color: #ffc20a;
}

.key {
    color: #ffc20a;
}

.box {
    color: #874205;
}