* {
    margin: 0;
}

header {
    width: 100%;
    height: 22rem;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

ul {
    list-style: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #41a9ff;
}